@font-face {
  font-family: 'PoiretOne-Regular';
  src: url('./assets/fonts/Poiret_One/PoiretOne-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AmaticSC-Regular';
  src: url('./assets/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AmaticSC-Bold';
  src: url('./assets/fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
