.video-course {
  &__bg {
    background: url('../../../../assets/images/LandingPage/img/landing-subscription-bg.jpg')
      top center no-repeat;
    background-size: cover;
    height: 600px;
  }

  .container {
    position: relative;
    height: inherit;
  }

  &__inner {
    position: absolute;
    top: 25%;
    left: 20%;
  }

  &__p {
    font-weight: 600;
    font-size: 2vw;
  }
}
