.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;

  li {
    &:nth-of-type(n + 2) {
      margin-left: 9px;
    }
  }
}

.carousel__indicator {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #111;
  border-radius: 50%;
  opacity: 0.15;
  cursor: pointer;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

  &:hover {
    opacity: 0.5;
  }

  &--active {
    opacity: 1;
    &:hover {
      opacity: 0.75;
    }
  }
}
